.colorset {
  color: black;
}

.navbar {
  background: #FFF;
box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.20);
}

.margin .item {
  display: inline-block;
}

.logospace {
  width: 50%;
  display: flex;
}

.logospace img {
  height: 3em;
  padding-left: 1em;
}

.margin {
  width: 50%;
  display: flex;
  justify-content: space-around;
}


.hp1{
  background: linear-gradient(#1D2671 0 0) 
  bottom left/
  var(--underline-width, 0%) 0.1em
  no-repeat;

display: inline-block;
padding: 0 .5em 0.2em;
text-decoration: none;
transition: background-size 0.5s;
}

.hp1:hover {
  --underline-width: 100%;
}