/* .box{
    display: flex;
    flex-direction: row;
}

.modal{
    display:block;   
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.1); }

.modal-main{
    background-color: #fff;
    text-align: center;
    margin-top: 5%;
    width: 65%;
}

.r-1{
    margin-top: 30px !important;
}

.btn-c{
    width: 25% !important;
    height: 2% !important;
    margin-left: 19px;
}

.inpt-c{
    width: 430px;
}

.r-2{
height: 300px !important; 
  overflow: auto; 
  border: 1px solid #ccc; 
  padding: 10px; 
}
.lis{
    display: grid;
    
}

.icon{
    margin-right: 10px;
}
.side{
    width: 100px !important;
}

.close{
    width: 100px;
    margin-left: 10px;
} */

.box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
 

  }
  
  .modal {
    display: block;
    position: fixed;
    z-index: 2;
    left: 0;
    /* margin-top: 5%; */
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-main {
    background-color: #fff;
    text-align: center;

    width: 65%;
    border-radius: 10px;
    padding: 20px;

  }
  
  .r-1 {
    margin-top: 30px ;
    
  }
  
  .btn-c {
    margin-top: -35px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  
  .inpt-c {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .r-2 {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
  }
  
  .lis {
    display: block;
  }
  
  .icon {
    margin-right: 10px;
    font-size: 24px;
  }
  
  .side {
    width: 100%;
  }
  
  .close-btn{
    margin-left: 95%;
    cursor: pointer;
  }